*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background: url("../img/camping.jpg") no-repeat center center fixed;
    background-size: cover;
    background-position: center;
    min-height: 100%;
}

.container {
    width: 80vw;
    height: 80vh;
    margin: 100px auto;
    background-color: rgba(26, 33, 41, 0.5);
    color:white;
    font-size: 24px;
}

.top {
    padding:30px;
    font-size: 30px;
    text-align: center;
}

.column {
    float: left;
    width: 50%;
    height: auto;
    padding:20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.ResvBtn{
    cursor: pointer;
}